body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the entire form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Optional: Set a fixed width for better centering */
  text-align: center; /* Center-align the content inside the form */
  margin: auto; /* Center the form horizontally */
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea, select, button {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: inherit;
}

button {
  background: #93acc5;
  color: white;
  border: none;
  cursor: pointer;
  width: auto; /* Set width to auto to fit content */
}

button:hover {
  background: #589ee4;
}
