body {
    margin: 0;
    font-family: Arial;
    background: #e6e6e6;
    color: #000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.header-divider,
.title-divider {
    border: none;
    border-top: 1px solid #000;
    margin: 12px 0;
}

.report-title {
    font-family: monospace;
    font-size: 2rem;
    white-space: nowrap;
}

#typing-report {
    border-right: 2px solid black; /* cursor effect */
    display: inline-block;
}
/* Initial blur style */
.blur-on-idle {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

/* When hovering the parent paragraph, all child spans reveal */
.hover-reveal:hover .blur-on-idle {
    filter: blur(0);
}


/* ================= REPORT ================= */

.report {
    flex: 1 1 500px;
    background: #ffffff;
    padding: 30px;
    box-sizing: border-box;
}

.report-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: 0.87rem;
    gap: 4px 12px;
    margin-bottom: 15px;
}

.report-title {
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2px;
}

.report h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    /* text-transform: uppercase; */
}

.finding-title {
    /* font-weight: bold; */
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 15px;
}

.patient-name {
    grid-column: 1 / -1;   /* span entire width */
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 10px;
}


/* ================= VIEWER ================= */

.viewer {
    flex: 1 1 800px;
    background: #111;
    display: flex;
    align-items: center;          /* vertical centering */
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.viewer-inner {
    width: 100%;
    max-width: 550px;
}

.image-container {
    position: relative;
    background: black;
    border: 2px solid #444;
    flex-direction: column;   /* stack overlay above image */
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay {
    position: static;
    top: 8px;
    left: 8px;
    background: rgba(0,0,0,0.6);
    color: #0ff;
    padding: 6px 10px;
    font-size: 0.85rem;
}

.controls {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ddd;
    font-size: 0.85rem;
}

button {
    background: #222;
    color: #0ff;
    border: 1px solid #0ff;
    cursor: pointer;
    padding: 2px 8px;
    font-family: inherit;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
